.about-us {
  background-color: #fcfaef;
  width: 100%;

  &__inner {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
   @include page-grid;
    grid-template-columns: repeat(4, 1fr);

    @media (min-width: 744px) {
      grid-template-columns: repeat(6, 1fr);
    }
    @media (min-width: 1260px) {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__title {
    width: 100%;
    padding: 20px;
    row-gap: 48px;
    grid-column: 1 / -1;
    padding-inline: 20px;
    @include on-tablet {
      padding-block: 72px;
      row-gap: 120px;
      grid-column: 1 / 4;
    }

    @include on-desktop {
      padding-inline: 120px;
      grid-column: span 5;
    }
  }

  &__content {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__photo {
    background-image: url('../../images/record-player.png');
    width: 100%;
    height: 200px;
    grid-column: 1 / -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include on-tablet {
      height: 400px;
    }

    @include on-desktop {
      height: 460px;
    }
  }

  &__description {
    box-sizing: border-box;
    width: 100%;
    font-weight: 400;
    display: grid;
    line-height: 140%;
    padding-inline: 20px;


    @include on-tablet{
      padding-inline: 72px;

    }

    @include on-desktop{
      padding-inline: 120px;

    }
  }
}
