.categories {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 56px;
    }
  }

  &__button {
    cursor: url(../../icon/Cursor-Mouse-Mice.png), pointer;
    background-color: $orange-color;
    color: #fff;
    border: 1px solid $orange-color;
    border-radius: 8px;
    height: 56px;
    width: 280px;
    transition: transform 0.5s;

    @include on-tablet {
      width: 600px;
    }

    @include on-desktop {
      width: 324px;
    }

    &:hover {
      transform: scale(1.1);
      background-color: #fff;
      color: $orange-color;
    }
  }
}

.category {
  &__photos {
    @include page-grid;

    margin-bottom: 16px;
  }

  &__link {
    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__photo {
    width: 100%;
    transition: transform 0.8s ease;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: $main-text-color;

    @include on-tablet {
      font-size: 24px;
    }
  }
}
