.contact-us {
  &__wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    flex-direction: column;

    @include on-desktop {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  &__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }
  &__data {
    border: 1px solid transparent;
    outline: none;
    margin-bottom: 16px;
    width: 280px;
    height: 48px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    background-color: #f9f9f9;
    padding-left: 16px;

    &:hover {
      border: 1px solid #9393a3;
    }
    &:focus {
      border: 2px solid $orange-color;
    }

    @include on-tablet {
      width: 600px;
    }

    @include on-desktop {
      width: 498px;
    }
  }
  &__message {
    font-weight: 400;
    font-family: Manrope, sans-serif;
    resize: none;
    height: 148px;
    text-align: left;
    padding-top: 14px;
    padding-left: 16px;
  }

  &__button {
    background-color: #1b2129;
    color: #fff;
    border: 1px solid #1b2129;
    border-radius: 8px;
    width: 300px;
    height: 56px;
    transition: transform 0.5s;
    cursor: url(../../icon/Cursor-Mouse-Mice.png), pointer;
    &:hover {
      font-weight: 700;
      border: 1px solid #1b2129;
      transform: scale(1.1);
      background-color: #fff;
      color: #1b2129;
    }

    @include on-tablet {
      width: 616px;
    }

    @include on-desktop {
      width: 516px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    margin-top: 48px;

    @include on-tablet {
      margin-top: 80px;
    }

    @include on-desktop {
      margin-top: 0;
    }
  }
  &__item {
    gap: 2px;
  }
  &__info-label {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    color: #9393a3;
  }

  &__info-value {
    margin: 8px 0;
  }

  &__info-address {
    text-decoration: none;
    color: #191919;

    &:hover {
      color: $orange-color;
    }
  }

  &__info-email {
    text-decoration: none;
    color: #191919;

    &:hover {
      color: $orange-color;
    }
  }

  &__info-phone {
    text-decoration: none;
    color: #191919;

    &:hover {
      color: $orange-color;
    }
  }
}
