.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-image: url(../../icon/icon.burger-menu.before.png);
  background-size: cover;
  cursor: url(../../icon/Cursor-Mouse-Mice.png), pointer;

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  @include on-desktop {
    height: 32px;
    width: 32px;
  }

  @include hover(transform, scale(1.2));

  &--phone {
    background-image: url(../../icon/icon-phone.png);
    position: relative;

    &--hover {
      position: absolute;
      top: 50%;
      right: 100%;
      margin-right: 10px;
      transform: translateY(-50%);
      opacity: 0;
      visibility: hidden;
      transition:
        opacity 0.3s ease,
        transform 0.3s ease;
      color: $main-text-color;
      font-weight: 700;
      line-height: 16px;
      white-space: nowrap;
    }

    &:hover .icon--phone--hover {
      opacity: 1;
      visibility: visible;
      transform: translateY(-50%) translateX(0);
    }
  }

  &--menu {
    background-image: url(../../icon/icon.burger-menu.before.png);

    &:hover {
      background-image: url(../../icon/icon.burger-menu.after.png);
    }
  }

  &--close {
    background-image: url(../../icon/icon-close.png);
  }
}
